$lightGreen: #b9e7e7;
.app{
    display: flex;
    justify-content: center;
    .container{
        width: 1024px;

        .link{
          color: inherit;
          text-decoration: none;

        }
    
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $lightGreen;

            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
              }
        
              form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;
                }
                input {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                  }
                  button {
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    cursor: pointer;
                    color: white;
                  }
                  p {
                    font-size: 12px;
                    color: red;
                    text-align: center;
                  }
                  span {
                    font-size: 12px;
                    text-align: center;
                  }
                }
        }

        //NAVBAR
        .navbar {
            .container {
              padding: 10px 0px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .logo {
                img {
                  width: 130px;
                }
              }
              .links{
                display: flex;
                align-items: center;
                gap: 10px;
                
                h6 {
                    font-size: 16px;
                    font-weight: 300;
                  }
                 span {
                    cursor: pointer;
                  }
                  
                .write{
                    background-color: $lightGreen;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 300;
                    border: 1px solid white;

                    &:hover {
                        color: teal;
                        background-color: white;
                        border: 1px solid teal;
                      }

                }
            }
        }
    }
    //FOOTER
    footer {
      margin-top: 90px;
      padding: 20px;
      background-color: $lightGreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        height: 70px;
      }
    }

    //HOME
    .home{
      .posts {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .post {

          display: flex;
          gap: 60px;
          max-height: fit-content;
          &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          }

          .img {
            flex: 2;
            position: relative;
            display: flex;
            align-items: center;
            height: 400px;

            &::after {
              content: "";
              width: 100%;
              height: 200px;
              display: flex;
              justify-content:center;
              background-color: $lightGreen;
              position: absolute;
              bottom: 45px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 200px;
              object-fit: cover;
            }
          }
          .content{
            flex:3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            h1{
              padding-top: 50px;
              font-size: 48px;
            }

            p {
              font-size: 18px;
              
            }
            #postContent {
              justify-content:start;
              overflow: hidden; /* Hide the overflow content */
              text-overflow: ellipsis;
              transition: max-height 0.3s ease-out; /* Add a smooth transition effect */
              width: 600px;

              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
            }

            #postContentExpand {
              max-height: fit-content;
              transition: max-height 0.3s ease-out; /* Add a smooth transition effect */
              width: 600px;
              
              
            }

            button {
              width: max-content;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              background-color: white;
              border: 1px solid teal;
              color: teal;

              &:hover {
                border: 1px solid white;
                background-color: $lightGreen;
                color: black;
              }
            }
          }

        }
      }
    }

    //SINGLE

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }
    //WRITE

    .add {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
          padding: 10px;
          border: 1px solid lightgray;
        }

        .editorContainer {
          height: 300px;
          overflow: scroll;
          border: 1px solid lightgray;
          .editor {
            height: 100%;
            border: none;
          }
        }
      }

      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .item {
          border: 1px solid lightgray;
          padding: 10px;
          flex:1;//same size of flex boxes
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #555;

          h1{
            font-size: 20px;
          }

          .file{
            text-decoration: underline;
            cursor: pointer;
          }

          .buttons{
            display: flex;
            justify-content: space-between;

            //first button
            :first-child{
              cursor: pointer;
              color: teal;
              background-color: white;
              border: 1px solid teal;
              padding: 3px 5px;
            }
            //second button
            :last-child{
              cursor: pointer;
              color: white;
              background-color: teal;
              border: 1px solid teal;
              padding: 3px 5px;
            }
          }

          .cat{
            display: flex;
            align-items: center;
            gap: 2px;
            color: teal;
          }
        }
      }
    }
  }


  #menuPost:hover{
    scale: 110%;
    border: 1px solid aqua;
    transition: scale 0.2s;
  }

  #menuPost:active{
    scale: 90%;
    border: 2px solid aquamarine;
    transition: scale 0.2s;
  }
  #HomePost:hover{
    scale: 105%;
    border: 1px solid aqua;
    transition: scale 0.2s;
  }
  #titlePost:hover{
    scale: 102%;
    text-shadow: 2px 0 $lightGreen, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    transition: scale 0.2s;
  }

  .logo:hover{
    scale: 103%;
  }
  .link h6:hover{
  scale:105%;
  text-shadow: 2px 0 $lightGreen, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
              1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }
    
  .link h6:active{
    scale:105%;
    color: $lightGreen
      }
      
    .userProfile{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid white;
      cursor:pointer;
      position: relative;
      background: linear-gradient(to bottom, #128585, $lightGreen);
      padding: 3px;
    }

    .userProfile:hover{
      scale: 1.1;
      transition: 0.1s linear;
    }

    .userProfile:active{
      scale: 1;
      transition: 0.1s linear;
    }
     
    .profileHide{
      display: none;
    }

    .profile{
      height: 200px;
      width: 200px;
      border-radius: 10%;
      position: absolute;
      display: flex;
      justify-content: center;
      right: 330px;
      top: 80px;
      z-index: 1;
      border-top-right-radius: 0;
      background-color: $lightGreen;
      text-align: center;
      box-shadow: rgba(110, 129, 129, 0.4) 0px 40px 100px 0px;
    }

    .profile .link:hover{
      font-size: 15px;
      text-shadow: 1px 0 aqua, 
      
    }

    .profile img{
      height: 100px;
      width: 100px;
      position: relative;
      top: 10px;
      border-radius: 50%;
    }
    .userPic{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #128585;
    }
    
    .profile img:hover{
      opacity: 0.5;
      cursor: pointer;
    }